body {
    margin: 0;
    background: #000; /* Fondo negro profundo */
    color: white;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    z-index: -1;
}
  .foto {
    margin-top: 5vw;
    width: 14vw;
    height: 14vw;
    object-fit: cover;
    box-shadow: 0 0 40px 2px #8040bd;    
    border-radius: 50%;
  }
.saludar{
    display: flex;
    justify-content: center;
}
.cerrar {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #7b2cbf;
    background: transparent;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    line-height: 35px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    transition: all 0.2s ease-in;
}

.cerrar:hover {
    background: #6a1fb3;
    box-shadow: 0 0 30px 5px #6a1fb3;
    transition: all 0.2s ease-out;
}

.cerrar:hover::before {
    animation: sh02 0.5s 0s linear;
}

.cerrar::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    transform: skewX(-20deg);
}

@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        left: 100%;
    }
}
header {
    color: white;
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    padding: 1vw 2vw;              
    background-color: rgba(0, 0, 0, 0.425);
    height: 0.5vw;      
}
.menu-horizontal b {
    margin-left: 2vw;               
    cursor: pointer;
  }
.inicio{
    width: 100%;
    height: 30vw;
}
@media (max-width: 1500px){
    .saludar{
        margin-top: -28vw;
        text-align: center;
    }
    .saludo{
        width: 23vw;
        height: 16vw;
    }
}
.foto-container{
    display: flex;
    justify-content: center;
}
.contenido{
    display: flex;
    justify-content: center;
}
.contenido h1{
    background: linear-gradient(to right, rgb(97, 88, 219), rgb(112, 37, 139));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: 3.2vw;
}
.texto{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    margin-top: -2vw;
}
.container-cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.contacto, .hoja-vida{
    display: flex;
    justify-content: center;
}
.contacto button, .hoja-vida button{
    border: 1px solid #6a1fb3;
    border-radius: 50px;
    width: 6.5vw;
    max-width: 8vw;
    height: 2.5vw;
    text-align: center;
    background-color: transparent;
    text-decoration: none;
    color: white;
    font-size: 0.9vw;
    cursor: pointer;
}
.contacto button:hover, .hoja-vida button:hover{
    background-color: #bc6bff;
}
.sobre-mi{
    display: flex;
    justify-content: center;
}
.organizador{
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-areas: "s1 s1"
                         "s2 s3";
    justify-content: center;
    gap: 20px;
}
.tarjeta-sobre-mi {
    margin-top: 4vw;
    gap: 20px;
    padding: 20px;
    max-width: 700px;
    border-radius: 12px;
    box-shadow: 0 4px 10px #d4b7f0;
    grid-area: s1;
    text-align: center;
  }
.tarjeta-sobre-mi2{
    margin-top: 2vw;
    gap: 20px;
    padding: 20px;
    max-width: 550px;
    border-radius: 12px;
    box-shadow: 0 4px 10px #d4b7f0;
    grid-area: s2;
    text-align: center;
}
.tarjeta-sobre-mi3{
    margin-top: 2vw;
    gap: 20px;
    padding: 20px;
    max-width: 550px;
    border-radius: 12px;
    box-shadow: 0 4px 10px #d4b7f0;
    grid-area: s3;
    margin-left: 2vw;
    text-align: center;
}
.tarjeta-sobre-mi,
.tarjeta-sobre-mi2,
.tarjeta-sobre-mi3 {
  margin-left: auto;
  margin-right: auto;
}
.tarjeta-sobre-mi h2,
.tarjeta-sobre-mi2 h2,
.tarjeta-sobre-mi3 h2{
    background: linear-gradient(to right, rgb(97, 88, 219), rgb(112, 37, 139));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
.titulo-skills, .titulo-soft{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 1.5vw;
    background: linear-gradient(to right, rgb(97, 88, 219), rgb(112, 37, 139));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
.skills-carrusel {
  width: 100vw;
  overflow: hidden;
  position: relative;
  height: 10vw;
}

.container-skills {
    margin-top: 1vw;
  padding-left: 2vw;
  display: flex;
  align-items: flex-start;
  gap: 40px;
  width: auto; 
  white-space: nowrap; 
  animation: desplazar-carrusel 12s linear infinite;
}

.container-skills.clone {
  position: absolute;
  left: 100%;
  top: 0;
}

.container-skills img {
  margin-top: 10px;
  width: 4vw;
  height: 4vw;
}

.html{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 12vw;
  height: 8vw;
  font-size: 1vw;
  border-radius: 12px;
  box-shadow: 0 4px 10px #f7f7f7;
  flex-shrink: 0;
}

@keyframes desplazar-carrusel {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}
